mixin contacts()
	#contacts.contacts-section
		.container
			section.contact-card
				header.contact-card__header
					h2 Contact information
					h4 My pleasure to meet you!!
				.contact-info
					.contact-info__logo JD
					.contact-info__group
						.contact-info__additional
							p Do you need a professional for lending a hand?
							p Are you facing unfathomable problem?
						.contact-info__vcard.vcard
							h4.fn.org Phat Ho
							p.role.title Fullstack Developer
							p.icon.icon_location
								a.adr.js-anchor(href="#gmap")
									span.country-name VietNam
									| ,&nbsp;
									span.locality Dist 1, Ho Chi Minh City
							p.icon.icon_mail
								a.email(href="#contact") hohuuphat22@gmail.com
							p.icon.icon_phone
								a.email(href="#contact") +84 906323761
						ul.contact-info__social
							li
								a.icon.icon_fb(rel='nofollow', href='https://www.facebook.com/dekal.dev', target="_blank") I'm on Facebook
							li
								a.icon.icon_in(rel="nofollow", href='https://www.linkedin.com/in/huu-phat-ho-1170b09b/', target="_blank") My Linkedin profile
		#gmap.gmap
