mixin header()
	header.main-header
		.first-nav
			.container
				nav.first-nav__links
					ul
						li
							a.is-selected english
				a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menu
		.second-nav.js-nav
			.container
				a.second-nav__logo: span JD
				nav.menu
					ul
						li
							a.js-link.js-anchor.is-selected(href="#home") Home
						li
							a.js-link.js-anchor(href="#about") About
						li
							a.js-link.js-anchor(href="#services") Experiences
						li
							a.js-link.js-anchor(href="#process") Certifications
						li
							a.js-link.js-anchor(href="#projects") Projects
						li
							a.js-link.js-anchor(href="#contacts") Contacts
