mixin process()
	section#process.common-section
		.container
			header.common-section__header
				h2 Certifications and Prizes
				h4 
			.grid-container
				ul.process
					li.process__step.process__step_research
						.process__step-icon.icon.icon_cert.is-active
					li.process__step-info.process__step-info_research.is-active
						h3
							spana 1
							|  &mdash; Bachelor of Science
						p Graduating from HCM University of Science, Advanced Program in Computer Science.
					li.process__step.process__step_develop
						.process__step-icon.icon.icon_cert
					li.process__step-info.process__step-info_develop
						h3
							spana 2
							|  &mdash; Communicative Certification: TOEFL ibt 85 pts
						p The TOEFL iBT® test measures your ability to use and understand English at the university level. And it evaluates how well you combine your reading, listening, speaking and writing skills to perform academic tasks.
					li.process__step.process__step_deploy
						.process__step-icon.icon.icon_prize
					li.process__step-info.process__step-info_deploy
						h3
							spana 3
							|  &mdash; Second place
						p Got second prize for the competitive algorithm contest of the university 
					li.process__step.process__step_deliver
						.process__step-icon.icon.icon_prize
					li.process__step-info.process__step-info_deliver
						h3
							spana 4
							|  &mdash; First place
						p Highschool, got First prize for the competitive algorithm contest of the city.
