mixin projects()
	section#projects.common-section
		header.common-section__header
			h2 Projects
			p 

		.projects-wrap
			.grid-container
				.projects
					figure.projects__item
						img(src="static/images/projects/brand360.jpg" alt="Brand 360")
						figcaption
							a.icon.icon_link(href="http://brand360.vn/" rel="nofollow" target="_blank") Brand360 project
					figure.projects__item
						img(src="static/images/projects/anco.jpg" alt="Report application for Masan")
						figcaption
							a.icon.icon_link(rel="nofollow") Report application for Masan
					figure.projects__item
						img(src="static/images/projects/taman.jpg" alt="Tam An Web")
						figcaption
							a.icon.icon_link(href="https://github.com/DeKal/Tam-An-Food-Store-Manager" rel="nofollow" target="_blank") Tam An Food Store Manager
					figure.projects__item
						img(src="static/images/projects/2048.jpg" alt="2048")
						figcaption
							a.icon.icon_link(href="https://github.com/DeKal/2048" rel="nofollow" target="_blank") 2048 Fun Games
