mixin services()
	section#services.common-section
		.container
			header.common-section__header
				h2 Experiences
				h4 Jobs and side projects
			.grid-container
				ul.services.services_advisory
					li.services__item.icon.icon_workexp
						h4 DEK Technologies
						p At DEK, I’m in charge of developing an web application helping users to have a good visualization about the statistics of test cases executed by Jenkin. Also, I take the responsibility for investigating, fixing bugs and assisting others completing their job.
						p
							b Technical skills: HTML/CSS/Js, Node JS, Spark, Hive, Kafka Connector (Confluent), Kubernetes.

					li.services__item.icon.icon_workexp
						h4 YBA Ben Tre
						p As a team leader, I operate and assemble the team to develop a web for Youth Business Association of Ben Tre. The idea is to use Wordpress template in order to have a fast and user-friendly web/admin UI.
						p
							b Technical skills: Wordpress template, HTML, CSS, JS, Web Deployment.
					li.services__item.icon.icon_workexp
						h4 SmartApp Technology
						p Working on the multi-platform framework Angular-JS, I handle the task of developing the application to summarize agency’s information from Masan company as the report for higher executive in the line to review and analyze.
						p
							b Technical skills: Angular-JS, HTML/CSS, JQuery.

				ul.services.services_pm
					li.services__item.icon.icon_workexp
						h4 Global Cybersoft
						p At Global Cybersoft, I am involved with maintaining and developing new features for windows-based software. Generally, tasks including adding function, drawing design, writing test case and fixing bugs found from customers are my responsibilities.
						p
							b Technical skills: Java, Java Swing, UML Designs, Maintenance System

					li.services__item.icon.icon_workexp
						h4 Global CyberSoft
						p Work as the web developer for the surveillance system project. Using Spring MVC framework, we build the admin web monitoring employee's status and fire alarm using Computer Vision Analytic.
						p
							b Technical skills: Spring MVC, Java, Hibernate, PostgreSQL, HTML/CSS, JQuery, JS, Thymeleaf.

					li.services__item.icon.icon_workexp
						h4 Brand360
						p As a team leader, I operate the team to develop a web for Brand 360 company inorder to broadcast their images in Viet Nam. The idea is to use Wordpress template in order to have a fast and user-friendly web/admin UI.
						p
							b Technical skills: Wordpress template, HTML, CSS, JS.
					
				.advantages
					h2 Why me?
					blockquote
						p A wide range of experiences in web framework backing up by 5 years of pursuing the competitive programming, I have the confidence that I can adapt to any languages, frameworks, or complicated system in a short period of time. I am a fast-learner and can be in charge the role of team leader when push comes to shove. On the other hand, I can communicate effectively in English as my secondary language, so the barrier of language is no longer a big threat. I am dedicated and will strive to make a profit for the team.